@media only screen and (min-device-width: 1444px){
    .header-text{
        width: 100%;
        height: 393px;
        position: absolute;
        top: 154px;
        

        /* Text */


        /* Auto Layout */

        display: flex;
        flex-direction: column;
        align-items: center;
 

        /* Inside Auto Layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

    }
    .header-headline{

        /* headline */


        /* Auto Layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 729px;
        height: 196px;
        top: 50px;


        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-headline-text{
    
        width: 709px;
        height: 176px;
        /* Work at the speed of thought */


        position: absolute;
        left: 1.37%;
        right: 1.37%;
        top: 5.1%;
        bottom: 5.1%;

        /* Headline */

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 88px;
        /* or 110% */

        text-align: center;
        letter-spacing: 0.2px;

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-subheading{
        
        /* Sub Heading */


        /* Auto Layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 602px;
        height: 80px;
        top: 263px;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px;
    }
    .header-subheading-text{
      
        width: 582px;
        height: 60px;
        /* Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule. */


        position: absolute;
        left: 1.66%;
        right: 1.66%;
        top: 12.5%;
        bottom: 12.5%;

        /* Sub Heading */

        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        text-align: center;
        letter-spacing: 0.2px;

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-buttons{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 307px;
        height: 65px;
        top: 582px;
        position: absolute;
    }
    .buttonlearn{
        background:url(images/buttonlearn.png);
        width: 136px;
        height: 65px;
        position: relative;
        top: 0px;
        margin: 0px 0px 0px 171px;
    }
    .textlearn{
        /* Learn More */


        position: static;
        left: 13.16%;
        right: 13.16%;
        top: 22.22%;
        bottom: 22.22%;

        /* Button */

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        /* identical to box height, or 147% */

        letter-spacing: 0.2px;

        /* light background */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
    .buttontry{
        background:url(images/buttontry.png);
        width: 136px;
        height: 65px;
        position: relative;
        top: 0px;
    }
    .texttry{
        /* Try For */


        position: static;
        left: 13.16%;
        right: 13.16%;
        top: 22.22%;
        bottom: 22.22%;

        /* Button */

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        /* identical to box height, or 147% */

        letter-spacing: 0.2px;

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
    .screens{
       background: url(images/desktop/screens.svg);
       background-repeat: no-repeat;
       background-position: 50% 100%;
       width: 100%;
       height: 993px;
       position: absolute;
       top: 682px;
    }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1443px){
    .header-text{

        width: 100%;
        height: 393px;
        position: absolute;
        top: 154px;
        

        /* Text */


        /* Auto Layout */

        display: flex;
        flex-direction: column;
        align-items: center;
 

        /* Inside Auto Layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

    }
    .header-headline{
        
        /* headline */


        /* Auto Layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 70%;
        height: 196px;
        top: 50px;
        left: 15%;


        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-headline-text{
    
        width: 97.26%;
        height: 89.8%;
        /* Work at the speed of thought */


        position: absolute;
        left: 1.37%;
        right: 1.37%;
        top: 5.1%;
        bottom: 5.1%;

        /* Headline */

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 88px;
        /* or 110% */

        text-align: center;
        letter-spacing: 0.2px;

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-subheading{

        /* Sub Heading */


        /* Auto Layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 38.13%;
        height: 80px;
        top: 263px;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px;
    }
    .header-subheading-text{
        
        width: 96.68%;
        height: 75%;
        /* Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule. */


        position: absolute;
        left: 1.66%;
        right: 1.66%;
        top: 12.5%;
        bottom: 12.5%;

        /* Sub Heading */

        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 1,194%;
        line-height: 1,79%;
        /* or 150% */

        text-align: center;
        letter-spacing: 0.2px;

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-buttons{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 307px;
        height: 65px;
        top: 582px;
        position: absolute;
    }
    .buttonlearn{
        background:url(images/buttonlearn.png);
        width: 136px;
        height: 65px;
        position: relative;
        top: 0px;
        left: 0px;
        margin: 0px 0px 0px 171px;
    }
    .buttontry{
        background:url(images/buttontry.png);
        width: 136px;
        height: 65px;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .screens{
       background: url(images/desktop/screens.svg);
       background-repeat: no-repeat;
       background-position: 50% 100%;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 40,72%;
    }
} 
@media only screen and (max-device-width: 999px){
    .header-text{
        
        /* text content */


        /* Auto Layout */

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 100%;
        height: 353px;
        top: 164px;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .header-headline{
       
        /* headline */


        /* Auto Layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: relative;
        width: 314px;
        height: 206px;
        left: 0px;
        top: 0px;


        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-headline-text{
        
        height: 186px;
        width: 294px;
        left: 10px;
        top: 0px;
        border-radius: nullpx;
        position: relative;

        /* Work at the speed of thought */

        /* Second Headline */

        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 62px;
        /* or 119% */

        text-align: center;
        letter-spacing: 0.2px;
        /* or 110% */

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
        padding: 0px 0px;
    }
    .header-subheading{
        
        /* Sub Heading */


        /* Auto Layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: relative;
        width: 402px;
        height: 140px;
        left: 0px;
        top: 213px;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px;
    }
    .header-subheading-text{
        
        height: 120px;
        width: 382px;
        left: 10px;
        top: 0px;
        border-radius: nullpx;
        position: relative;

        /* Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule. */

        /* Sub Heading */

        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        text-align: center;
        letter-spacing: 0.2px;

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
    .header-buttons{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 136px;
        height: 151px;
        left: calc(50% - 136px/2);
        top: 574px;
        position: absolute;
    }
    .buttonlearn{
        background:url(images/buttonlearn.png);
        width: 136px;
        height: 65px;
        position: relative;
        top: 86px;
        left: 0px;
        margin: 0px;
        padding: 0px;
    }
    .buttontry{
        background:url(images/desktop/buttontry.svg);
        width: 136px;
        height: 65px;
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0px;
        padding: 0px;
    }
    .screens{
        background: url(images/screens_mob.svg);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        width: 100%;
        height: 453px;

        top: 782px;
        border-radius: 0px;
        position: absolute;
    }
}
@media only screen and (max-device-width: 548px){
    .header-subheading{
        
        /* Sub Heading */


        /* Auto Layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 96%;
        height: 140px;
        left: 2%;
        top: 213px;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px;
    }
    .header-subheading-text{

        height: 120px;
        width: 96%;
        left: 2%;
        top: 0px;
        border-radius: nullpx;
        position: relative;

        /* Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule. */

        /* Sub Heading */

        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        text-align: center;
        letter-spacing: 0.2px;

        /* light text */

        color: #FFFFFF;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px;
    }
}